body {
  font-family: 'Press Start 2P', sans-serif;
  background-color: black;
  color: white;
}

.flex {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-between;
}

.again {
  font-size: 20px;
  font-weight: 300px;
  margin-top: 10px;
  margin-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

.my {
  text-align: center;
  margin-top: 50px;
}

.number {
  font-size: 4rem;
  font-weight: bold;
  background-color: aliceblue;
  color: black;
  text-align: center;
  margin-left: 45%;
  margin-right: 45%;
}

main {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.guess {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  background-color: black;
  border: solid white;
  color: white;
  /*background-color: rgb(238, 55, 55);*/
}

.check {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
}

.right {
  font-size: 20px;
}
